<h2>Scrabble!</h2>
<div class="jk-form">
  <form action="/scrabble">
    <label for="word">Please input your favorite word</label>
    <input id="word" name="word" type="text">
    <button type="submit" class="btn-success btn">Submit</button>
  </form>
</div>
